{%extends 'base.html'%} {% block content %}


<div>
    {% if filme %}
    <h4>Editar Filme</h4>
    {% else %}
    <h4>Criar Filme</h4>
    {% endif %}
</div>


<div>
    <form method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group"><label class="col-sm-2 control-label">Gênero</label>
            <div class="col-sm-10"> {{ form.categoria }} </div>
        </div>
        <div id="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Produtora</label>
            <div class="col-sm-10"> {{ form.produtora }} </div>
        </div>
        <div id="hr-line-dashed"></div>

        <div class="form-group">
            <div class="col-sm-10"> {{ form.titulo }} </div>
        </div>
        <div id="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-10"> {{ form.lancamento }} </div>
        </div>
        <div id="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-10"> {{ form.descricao }} </div>
        </div>
        <div id="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-10"> {{ form.duracao }} </div>
        </div>
        <div id="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Poster/Capa</label>
            <div class="col-sm-10"> {{ form.capa }} </div>
        </div>


        <br>
        <a href="/home" class="btn btn-warning" style="margin-right: 10px;">Cancelar</a>
         {% if filme %}
        <input class="btn btn-dark" type="submit" value="Atualizar"> {% else %}
        <input class="btn btn-dark" type="submit" value="Criar"> {% endif %}
    </form>
    <br>
        

</div>

{% endblock %}